<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>The name of the Module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Module Name</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>fileType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Structure Type:</string>
			<key>Description</key>
			<string>Structure Type</string>
			<key>Type</key>
			<string>popup</string>
			<key>NotPersisted</key>
			<true/>
			<key>Values</key>
			<array>
				<string>MVVM</string>
				<string>View</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<dict>
			<key>Group</key>
			<string>___FILEBASENAME___</string>
			<key>Nodes</key>
			<array>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___Contract.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___Coordinator.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___ViewModel.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___ViewController.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___Service.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___View.swift</string>
				</dict>
				<dict>
					<key>FileType</key>
					<string>sourcecode.swift</string>
					<key>Path</key>
					<string>___FILEBASENAME___Builder.swift</string>
					<key>RequiredOptions</key>
					<dict>
						<key>type</key>
						<string>MVVM</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
